Django>=5.0
djangorestframework       # Para crear la API REST
mysqlclient               # Conector para MySQL 
drf-yasg                  # Para generar Swagger 
python-dotenv             # Para leer variables de entorno (Seguridad)
django-cors-headers       # Para que Angular pueda conectarse sin errores